#stages:
#  - docker-test
#
#docker-test:
#  stage: docker-test
#  image: docker:cli
#  variables:
#    DOCKER_HOST: unix:///var/run/docker.sock
#  script:
#    - docker info
#    - docker run hello-world
stages:
  - build
  - test
  - review

# do weryfikowania jakości kodu
include:
  - template: Code-Quality.gitlab-ci.yml

build-containers:
  stage: build
  image: docker:cli
#  artifacts:
#    paths:
#      - /git/
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  before_script:
    # docker:cli jest alpine, więc instalujemy compose
    - apk add --no-cache curl docker-cli-compose

  script:
    - echo "Sprawdzanie dostępności Dockera..."
    - docker info

    - echo "Uruchamiam kontenery z docker-compose..."
    - docker compose -f /git/containers/docker-compose.yml up -d --build

    # Funkcja czekająca na kontener
    - |
      wait_for_container() {
        local name=$1
        echo "Czekam na kontener $name..."
        until [ "$(docker inspect -f '{{.State.Running}}' $name 2>/dev/null)" == "true" ]; do
          sleep 2
        done
        echo "Kontener $name uruchomiony."
      }

    # Lista kontenerów z compose
    - containers=$(docker compose -f /git/containers/docker-compose.yml ps -q)

    # Czekanie na wszystkie kontenery
    - for c in $containers; do wait_for_container $c; done

test-containers:
  stage: test
  image: docker:cli
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  before_script:
    # docker:cli jest alpine, więc instalujemy compose
    - apk add --no-cache curl
  script:
    # Test frontend → nazwa usługi z compose: web
    - echo "Test frontendu (web)..."
    - docker exec frontend-przepisak curl -sSf http://localhost:5000 || echo "Frontend nie działa"

    # Test backend → nazwa usługi: api
    - echo "Test backendu (api)..."
    - docker exec backend-przepisak curl -sSf http://localhost:5035 || echo "Backend nie działa"

    - echo "Lista kontenerów:"
    - docker ps

code-review:
  stage: review
  image: docker:cli
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  