# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
#stages:
#- build
#- test
#- deploy
#- review
#- dast
#- staging
#- canary
#- production
#- incremental rollout 10%
#- incremental rollout 25%
#- incremental rollout 50%
#- incremental rollout 100%
#- performance
#- cleanup
#sast:
#  stage: test
#include:
#- template: Auto-DevOps.gitlab-ci.yml
#test_job:
#  stage: test
#  script:
#    - echo "Uruchamianie testów..."
#    - echo "Testy zakończone pomyślnie!"

#image: docker:20.10
#
#services:
#  - name: docker:20.10-dind
#    alias: docker

#variables:
#  DOCKER_DRIVER: overlay2
#  DOCKER_TLS_CERTDIR: ""   # wyłącza TLS dla docker:dind
#
#stages:
#  - build
#  - test
#
#build_job:
#  stage: build
#  script:
#    - echo "Budowanie obrazu Dockera..."
#    - docker build -t myapp:latest .
#
#test_job:
#  stage: test
#  script:
#    - echo "Uruchamianie testów..."
#    - docker run --rm myapp:latest echo "Test OK"
#
stages:
  - build
  - test
variables:
  DOCKER_HOST: unix:///var/run/docker.sock

# ======================
# Build frontend & backend
# ======================
build-containers:
  stage: build
  image: docker:24.0
  tags:
    - docker
  before_script:
    - docker info
  script:
    - echo "Budowanie wszystkich kontenerów z docker-compose..."
    - docker compose -f /git/containers/docker-compose.yml build
  artifacts:
  only:
    - dev
    - server
    - dev_test

# ======================
# Test kontenerów
# ======================
test-containers:
  stage: test
  image: docker:24.0
  tags:
    - docker
  before_script:
    - docker info
  script:
    - echo "Uruchamianie kontenerów do testów..."
    - docker compose -f /git/containers/docker-compose.yml up -d
    - sleep 10
    - echo "Sprawdzanie frontend..."
    - apk add --no-cache curl
    - curl -sSf http://localhost:5000 || echo "Frontend nie działa"
    - echo "Sprawdzanie backend..."
    - curl -sSf http://localhost:5035 || echo "Backend nie działa"
    - docker ps
  only:
    - dev
    - server
    - dev_test
