stages:
  - docker-test

docker-test:
  stage: docker-test
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker info
    - docker run hello-world
  tags:
    - docker

