services:
  web:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
      - ./scripts:/scripts
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"

  api:
    image: python:3.12
    working_dir: /app
    volumes:
      - ./backend:/app
      - ./scripts:/scripts
    ports:
      - "5000:5000"
    command: sh -c "pip install -r requirements.txt && python app.py"

  db:
    image: postgres:16
    volumes:
#      - .scripts:/scripts
      - ./config:/etc/gitlab-runner  # konfiguracja runnera
      - /var/run/docker.sock:/var/run/docker.sock  # aby runner mógł uruchamiać kontenery
#      - ./certs:/etc/gitlab-runner/certs:ro  # Twoje własne certyfikaty CA
      - ./scripts:/scripts  # skrypty do rejestracji lub pipeline
      - ./config/ca.local.crt:/usr/local/share/ca-certificates/ca.local.crt

    environment:
      POSTGRES_USER: student
      POSTGRES_PASSWORD: wcy
      POSTGRES_DB: przepisakdb

