services:
  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner
    restart: always
    volumes:
      - ./config:/etc/gitlab-runner/config
      - /var/run/docker.sock:/var/run/docker.sock
      - /git/runner/scripts:/git/runner/scripts
#      - /git/runner/scripts:/runner/scripts
      - /git/ca.local.crt:/usr/local/share/ca-certificates/ca.local.crt
      - /git/ca.local.crt:/git/ca.local.crt
      - /git/runner/docker-compose.yml:/git/runner/docker-compose.yml
    environment:
      - CI_SERVER_URL=https://git.ita.wat.edu.pl
      - REGISTRATION_TOKEN=glrt-vyAkqLw-bR-1XqC30MC5LW86MQpwOjU5CnQ6Mwp1OjJ1EQ.01.1a1n9cgle
      - RUNNER_NAME=gitlab-runner-server
      - RUNNER_EXECUTOR=docker
      - DOCKER_IMAGE=debian:bookworm
      - TLS_CA_FILE=/usr/local/share/ca-certificates/ca.local.crt

